@font-face {
    font-family: "iconfont";
    src: url('../iconfont/iconfont.eot?t=1501485304344'); /* IE9*/
    src: url('../iconfont/iconfont.eot?t=1501485304344#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont/iconfont.woff?t=1501485304344') format('woff'), /* chrome, firefox */ url('../iconfont/iconfont.ttf?t=1501485304344') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../iconfont/iconfont.svg?t=1501485304344#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .4rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-loading6:before {
    content: "\e601";
}

.icon-sousuo:before {
    content: "\e650";
}

.icon-ic_drafts_px:before {
    content: "\e6bb";
}

.icon-hert:before {
    content: "\e600";
}

.icon-gengduo:before {
    content: "\e63c";
}

.icon-shuaxin:before {
    content: "\e6cb";
}

