
* {
    font-family: "苹方 常规";
}

.head {
    padding: 0 .24rem 0 .24rem;
    width: 100%;
    height: .88rem;
    background: #ff5304;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.head .left {
    width: 0.64rem;
    height: 0.5rem;
    background: url("../../img/h1.png") center center no-repeat;
    background-size: contain;
}

.head .title {
    width: 1.96rem;
    height: 0.88rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../img/xinzhi.png") center center no-repeat;
    background-size: cover;
    position: relative;
}

.head .title span {
    display: inline-block;
    width: 0.35rem;
    height: 0.35rem;
    position: absolute;
    right: 0;
    z-index: 200;
}

.head .title span > i {
    width: 100%;
    height: 100%;
}

.head .title span > i.active {
    transform: rotate(360deg);
    transition: all .1s ease;
}

.head .right {
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    background: url("../../img/h2.png") center center no-repeat;
    background-size: contain;
}

.content {
    width: 100%;
    height: 2.12rem;
    padding: .24rem;
    display: flex;
}

.content:nth-child(1) {
    margin-top: 1.6rem;
}

.content .left {
    width: 66.6%;
    height: 100%;
}

.content .left .text {
    display: block;
    width: 100%;
    height: .84rem;
    font-size: .34rem;
    color: #222222;
}

.content .left .text1 {
    margin-top: .2rem;
    width: 100%;
    height: .26rem;
    font-size: .14rem;
}

.content .left .text1 span {
    color: #ABABAB;
}

.content .right {
    width: 33.6%;
    height: 1.47rem;
}

.content .right > img {
    width: 100%;
    height: 100%;
}

.content_info {
    width: 100%;
    height: 2.38rem;
    padding: .24rem;
}

.content_info .top {
    width: 100%;
    height: 0.42rem;
    font-size: .3rem;
    color: #222222;
}

.content_info .photo {
    width: 100%;
    height: 1.5rem;
    display: flex;
}

.content_info .photo li {
    width: 33.3%;
    height: 100%;
}

.content_info .photo li img {
    width: 100%;
    height: 100%;
}

.content_info p {
    width: 100%;
    height: 0.24rem;
    font-size: .14rem;
}

.list {
    width: 100%;
    height: .72rem;
    background: #F4F5F6;
    display: flex;
    align-items: center;
    padding: 0 0.24rem 0 .24rem;
    position: fixed;
    top: .88rem;
    z-index: 100;
    margin-bottom: .5rem;
}

.list .info {
    width: calc(100% - .8rem);
    height: .72rem;
    overflow: hidden;
    position: relative;
}

.list .info .info1 {
    height: .72rem;
    float: left;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.list .info .info1:after {
    content: '';
    clear: both;
    display: block;
}

/*
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
*/
.list .info .info1 > .btn {
    width: 1.08rem;
    height: 100%;
    color: #505050;
    font-size: .3rem;
    text-align: center;
    line-height: .7rem;
    float: left;
}

.list .info .info1 > .btn > a {
    color: #505050;
}

.list .info .info1 > .btn > a.active {
    color: red;
}

.list .more {
    right: .34rem;
    position: absolute;
    width: .34rem;
    background: url("../../img/more.png") center center no-repeat;
    background-size: contain;
}

.tip {
    width: 100%;
    height: .8rem;
    background: rgba(172, 176, 180, 0.3);
    color: #fff;
    font-size: .4rem;
    position: fixed;
    top: 1.4rem;
    z-index: 99999;
    text-align: center;
    line-height: .8rem;
}

.more {
    width: 100%;
    height: .88rem;
    background: #ccc;
    color: #fff;
    font-size: .4rem;
    text-align: center;
    line-height: .88rem;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.tops {
    width: 100%;
    height: .2rem;
}
